.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  /*ensures it stays above other elements*/



  background-color: #FCFAF0;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.nav-container {
  width: 100%;
  max-width: 1200px;
}

.logo {
  font-weight: bold;
  color: #2E7DAF;
  font-size: 1.5rem;
}


nav ul {
  display: flex;
  gap: 50px;
  list-style: none;
  font-weight: bold;
  align-items: center;
  justify-content: center;


}

nav ul a {
  display: flex;
  color: #2E7DAF;
  text-decoration: none;
  font-weight: bold;


  padding-left: 10px;
  padding-right: 10px;

  border-radius: 10px;
}

nav ul a:hover {
  background: #2E7DAF;
  color: #FCFAF0;
}



.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 1500;
  background-color: white;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 20px;
}

.sidebar li {
  width: 100%;
}

.hamBurger {
  display: none;
}



@media (max-width: 960px) {
  .hideOnMobile {
    display: none;
  }

  .hamBurger {
    display: block;
  }

  .header {
    width: 100vw;
  }

}